@import url("https://fonts.googleapis.com/css?family=Roboto:700");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  height: 100%;
  margin: 0;
  font-size: 62.5%; }

body {
  background-color: black;
  height: 100%; }

.wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
  header img {
    height: 8rem;
    width: 14.2rem; }

.container {
  display: inline-block;
  cursor: pointer; }
  .container .bar1, .container .bar2, .container .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0; }

nav {
  display: none;
  background-color: white;
  justify-content: center;
  background-color: black;
  border-top: 0.1rem solid;
  width: 100%; }
  nav ul li {
    text-align: center;
    padding: 1rem; }
    nav ul li a {
      font-size: 1.8rem;
      text-decoration: none;
      color: white; }
      nav ul li a:active {
        font-weight: 600;
        color: red; }

.search {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-image: url("../img/marvel.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh; }
  .search form {
    position: relative; }
    .search form input {
      width: calc(90vw - 3.7rem);
      height: 5vh;
      padding-right: 3.7rem; }
    .search form p {
      background-color: black;
      color: white;
      font-size: 1.8rem;
      width: inherit;
      padding: 0.5rem;
      text-align: center; }
    .search form button {
      margin-left: -16px;
      height: 3.4rem;
      width: 3.7rem;
      background-image: url("../img/search.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 3.4rem 3.4rem;
      position: absolute;
      padding: 0;
      right: 0;
      bottom: 0;
      border: 0; }

#resultsContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem; }
  #resultsContainer h1 {
    background-color: white;
    color: black;
    align-self: flex-start;
    padding: 1.5rem;
    font-size: 2.5rem;
    flex-wrap: wrap;
    align-items: stretch; }

article {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 5vw;
  padding-right: 5vw; }
  article img {
    width: 90vw; }
  article p {
    color: black;
    background-color: white;
    font-size: 1.8rem;
    padding: 1.5rem;
    font-family: "Roboto", sans-serif;
    text-decoration: UPPERCASE; }

.more {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem; }
  .more a {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8rem;
    border-radius: 0.8rem;
    margin-top: 2rem;
    font-weight: bold; }
    .more a:hover {
      background-color: red;
      color: white;
      text-decoration: underline; }

footer {
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  footer p {
    font-size: 1.8rem; }
